.user-list {
    border-radius: 10px;
    margin: 15px auto;
    color: #000;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.user-list-entry {
    max-width: 700px;
    transition: 0.1s;
    cursor: pointer;
}
.user-list-entry td,
th {
    padding: 15px;
}

.user-list-entry:hover {
    max-width: 700px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.small-button {
    width: 50px !important;
    display: inline-flex;
    padding: 6px 12px;
    font-size: 14px;
}

.center-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 16px;
    width: auto !important;
}



